.container {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    span {
      font-size: 20px;
      line-height: 24px;
      color: var(--blue-850);

      margin-bottom: 15px;
    }

    strong {
      font-weight: 900;
      color: var(--blue-850);
      font-size: 20px;
      line-height: 24px;

      margin-bottom: 15px;
    }

    p {
      font-size: 10px;
      line-height: 15px;

      margin-bottom: 15px;
    }

    a {
      font-size: 12px;
      line-height: 15px;

      color: var(--blue-850);
      border-bottom: 1px solid var(--blue-850);

      margin-bottom: 15px;
    }

    button {
      width: 164px;
      height: 40px;

      background: var(--blue-850);
      color: #fff;

      font-size: 11px;
      font-weight: 700;

      border: 0;
      border-radius: 3px;
    }
  }
}
